RAKUTEN_API_KEY=your_rakuten_api_key_here

# Azure OpenAI (ChatGPT)
AZURE_OPENAI_API_KEY=your_azure_openai_api_key_here
AZURE_OPENAI_ENDPOINT=https://your-resource-name.openai.azure.com/
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o-mini
AZURE_OPENAI_API_VERSION=2024-07-18-preview

# Resend (メール通知)
RESEND_API_KEY=your_resend_api_key_here

# Database
DB_PASSWORD=root_password
DB_NAME=cosmetics_price_db
DB_USER=app_user
DB_HOST=app_host
DB_PORT=app_port
SSL_CA_PATH=DigiCertGlobalRootG2.crt.pem

# frontend
NEXT_PUBLIC_API_ENDPOINT=your_domain.azurewebsites.net